<section class="hero is-dark is-fullheight">
  <div class="hero-head">
    <div class="container">
      <h1 class="title">
        TEBES
      </h1>
    </div>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-one-third"></div>

        <div class="column">

          <div class="field">
            <p class="control has-icons-left">
              <input class="input is-large" type="text" placeholder="Your username">
              <span class="icon is-large is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <a class="button is-large">
              <span class="icon is-large">
                <i class="fas fa-play"></i>
              </span>
              <span>Play</span>
            </a>
          </div>

        </div>

        <div class="column is-one-third"></div>
      </div>
    </div>
  </div>
</section>
